<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Where is Josh</title>
  </head>

  <body>
    <h1>Josh was last seen {{.TimeAgo}} at {{.Venue.Name}} in {{.Venue.Location.City}}, {{.Venue.Location.Country}}</h1>
  </body>
</html>
